.weather-card {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  color: white; /* Asegura que el texto siga siendo legible */
  text-align: center;
}

.weather-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-details {
  margin-top: 15px;
}

.temperature-range, .weather-description {
  font-size: 18px;
  margin: 5px 0;
  margin-top: 15px; /* Espaciado adicional para separar de la temperatura */
}

p {
  font-size: 18px;
  margin: 5px 0;
  margin-top: 15px; /* Espaciado adicional para separar de la temperatura */
}

.local-time {
  font-size: 48px; /* Igual al tamaño de la temperatura */
  font-weight: bold;
  margin-top: 15px; /* Espaciado adicional para separar de la temperatura */
}

